 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre Mí</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>¡Hola, soy Mario Ramírez!</p>

                    <p>Actualmente trabajo como desarrollador web en Acid Labs, un empresa dedicada al desarrollo de software de alto impacto por medio de la innovación, el diseño y la ingeniería.</p>
                </div>
                <div class="col-lg-4">
                    <p>Me gusta aprender de forma autodidacta leyendo libros y realizando cursos a través de internet.</p>
                    <p>Ultimamente mis temas de investigación preferidos son Ruby on Rails, React, Node.JS y Android.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="Curriculo_Mario_Ramirez.pdf" class="btn btn-lg btn-outline"><i class="fa fa-download"></i> Descargar Currículo</a>
                </div>
            </div>
        </div>
    </section>
