 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre Mí</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>¡Hola, soy Mario Ramírez!</p>

                    <p>Actualmente estoy colaborando como Desarrollador Web en Start-Up Chile, un programa creado por el gobierno de Chile a través de CORFO para apoyar el emprendimiento y la innovación.</p>
                </div>
                <div class="col-lg-4">
                    <p>Me gusta aprender de forma autodidacta leyendo libros y realizando cursos a través de internet.</p>
                    <p>Ultimamente mis temas de investigación preferidos son Ruby on Rails, GIT, Node.js y Swift.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline"><i class="fa fa-download"></i> Descargar Currículo</a>
                </div>
            </div>
        </div>
    </section>