 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contáctame</h2>
                    <hr class="star-primary">
                </div>
            </div>            <div class="row">

                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <br/>
                                <p>Puedes comunicarte conmigo durante el día llamando al número:</p>
                                <h1><i class="fa fa-phone-square"></i> <a href="tel:+56976022486">+56 9 760 22 486</a></h1>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <br/>
                                <p>Si lo tuyo es escribir envía un correo a:</p>
                                <h1><i class="fa fa-envelope-square"></i> <a href="mailto:ramirezmario@outlook.com">ramirezmario@outlook.com</a></h1>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>